$hero-bg: $white;
$h-fs: 4rem;
$p-fs: 28px;

.hero {
  height: 40vh;
  @include flex();
  justify-content: flex-end;
  align-items: center;
  background: $hero-bg;
  margin-top: 120px;

  .container {
    .copyContainer {
      text-align: center;

      h1 {
        max-width: 60vw;
        font-size: $h-fs;
        margin: 0 auto;
      }

      p {
        max-width: 60vw;
        font-size: $p-fs;
        margin: 40px auto;
      }

      .appStoreBadge {
        width: 220px;
      }
    }
  }
}
