// font family
$ff-serif: "Lato", sans-serif;
$ff-sans: "Lexend", sans-serif;
$ff-display: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

//  Colors
$primary: #5d5fef;
$secondary: #ef5da8;
$tertiary: #5defc9;
$black0: #000;
$black: #191919;
$white: #fff;

// Breakpoints
$break-mobile: 768px;
